/* polices */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* regular font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');
/* bold 600 font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap');
/* light 300 font-family: 'Raleway', sans-serif; */

body
{
    margin: 0px;
}

.body_without_footer
{
    padding-left: 1em;
    padding-right: 1em;
}


/* header */
header
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_logo
{
    max-width: 150px;
    height: 100%; 
    padding: 10px 0px 0px 0px;
}

nav a
{
    text-decoration: none;
    color: #000000;
}

.nav1, .nav2, .signin
{
    padding: 15px 20px 20px 20px;
}

nav
{
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
}

p
{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
}

h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 15px;
}

.menu
{
    display: flex;
}

.header_signin
{
    font-weight: 600;
    color: #0065FC;
    text-decoration: none;
}

.header_signin:hover
{
    font-weight: 600;
    color: #1c77ff;
}

.nav1
{
    border-top: 2px solid #0065FC;
}

.nav1 a
{
    color: #0065FC;
}

.header_nav2:hover
{
    color: #0065FC;
}

/* Premier bloc pour moteur de recherche */
.bloc1
{
    margin-top: 20px;
}

h1 + p
{
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

form
{
    max-width: 400px;
    padding: 0px 0px 0px 0px;
}


.form
{
    display: flex;
    justify-content: flex-start;
}

.form2
{
    font-family: 'Raleway', sans-serif;
    padding: 0px 0px 0px 0px;
}

input
{
    border: 1px solid #F2F2F2;
    margin: 0px;
    font-size: 1.2em;
    width: 100%;
    padding: 8px 10px 8px 10px;
    outline: none;
}

input:focus
{
    border-left: 2px solid rgba(0, 101, 252, 0.5);
}


button
{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border: none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 8px 10px 10px 10px;
}

.button_mobile
{
    display: none;
}

button:hover
{
    background-color: #1c77ff;
}

.form1 i
{
    background-color: #f2f2f2;
    padding: 11px 10px 13px 10px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}


/* Deuxième bloc pour les filtres de recerche */
.bloc2
{
    display: flex;
    flex-wrap: wrap;
}

.filtre0
{
    padding: 1px 12px 1px 0px;
    font-weight: 600;
    margin: 20px 15px 0px 0px;
}

.filtre
{
    margin: 20px 15px 0px 0px;
    display: flex;
    align-content: center;
}

.button_filter
{
    padding: 15px 15px 15px 10px;
    margin: 0px;
}

.filtre2:hover
{
    background-color: #F2F2F2;
    font-size: 1.02em;

}

.filtre2
{
    display: flex;
    align-content: center;
    padding-left: 0px;
    background-color: #FFFFFF;
    border: 2px solid #f2f2f2;
    border-radius: 35px;
}

.bloc2 i
{
    background-color: #DEEBFF;
    padding: 15px;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    margin-left: -2px;
    margin-right: 5px;
    color: #0065FC;
}

.bloc2 a, .bloc3 a, .bloc4 a
{
    text-decoration: none;
    color: #000000;
}

.pluscinqcent
{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.pluscinqcent i
{
    background-color: #FFFFFF;
    padding: 5px 8px;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    margin-right: 10px;
    font-size: 0.7em;
    margin-top: 5px;
}

.pluscinqcent p
{
    margin: 7px;
}

/* MAIN hébergements et les plus populaires */
.bloc3
{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 30px;
}

h3
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 1em;
    color: #000000;
}

.text_img_heb0
{
    font-family: 'Raleway', sans-serif;;
}

.bloc3_1
{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    flex: 2;
}

.bloc3_2
{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    flex: 1;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bloc3_2_1
{
    display: flex;
    justify-content: space-between;
}

.bloc3_2_1 i
{
    color: #000000;
    margin-top: 20px; /* j'ai l'impression de bricoler avec des margin top. un align content center me semblait plus judicieux mais ça ne fonctionne pas */
    margin-right: 1em;
}

.bloc3_1_2
{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.min_heb
{
    position: relative;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}

.min_heb:hover, .heb_pop:hover
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); 
}

.bloc3_1_2 a
{
    flex-basis: 33.33%;
    min-width: 220px;
}

.img_heb
{
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    vertical-align: bottom; /* comment avoir l'image centrée verticalement ? */
}

.text_img_heb0
{
    position:  absolute;
    bottom: 0px;
    width: 98%;
    padding: 2px 0px 0px 2%;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

h4
{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    color: #000000;
}

h5
{
    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;
    font-weight: lighter;
    padding: 2px 0px 5px 0px;
    margin: 0px;
    color: #000000;
}

.rating
{
    display: flex;
    justify-content: flex-start;
}

.rating i
{
    color: #0065FC;
}

.rating_no i
{
    color: #F2F2F2;
}

.see_more
{
    margin-top: 15px;
    padding-left: 15px;
}

.see_more a
{
    font-weight: 600;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.see_more a:visited
{
    text-decoration: none; /* comment enlever le changement de couleur pour un lien visité ? */
}

.see_more a:hover
{
    text-decoration: underline;
}


.heb_pop
{
    display: flex;
    margin: 15px 15px 15px 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
} 

.img_heb2
{
    width: 9em;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
    height: 100%;
    max-height: 130px;
}

.left_img_pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0px 0px 1em;
    background-color: #FFFFFF;
    width: 98%;
}

.heb_pop .rating
{
    padding-bottom: 5px;
}


/* Activité à Marseille */
.bloc4
{
    margin-top: 30px;
}

.bloc4_1
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: auto;
}

.bloc4_1_col1
{
    position: relative;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.bloc4_1_col2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.bloc4_1_col2_1
{
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 10px 10px 10px 10px;
}

.bloc4_1_col2_2
{
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 10px 10px 10px 10px;
}

.bloc4_1_col1:hover, .bloc4_1_col2_1:hover, .bloc4_1_col2_2:hover
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); 
}

.img_bloc4
{
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    width: 20em;
    height: 30em;
}

.text_bloc4
{
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    padding: 1em 6% 1em 2%;
    width: 92%;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #FFFFFF;
}

.img_bloc4_2_1
{
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    width: 20em;
    height: 16em;
}

.img_bloc4_2_2
{
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    width: 20em;
    height: 10em;
}

.img_bloc4_2_3
{
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    width: 20em;
    height: 13em;
}


/* footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding: 40px 0px 20px 0px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.footer1, .footer2, .footer3
{
    padding: 1em 5em 1em 10em;
}

footer h3
{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-left: 0px;
}

footer a
{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000000;
}

footer a:hover
{
    text-decoration: underline;
}

/* RESPONSIVE 
Les très petits écrans (< 768 px : pour les écrans dont la largeur est comprise entre 0 px et 768 px)
- Tablettes (768 px - 991 px)
- Ordinateurs (992 px - 1199 px) */
@media screen and (max-width: 1367px)/* Réduction progressive de la taille des bloc activités */
{
    .img_bloc4, .img_bloc4_2_1, .img_bloc4_2_2, .img_bloc4_2_3
    {
        width: 18em;
    }
}

@media screen and (max-width: 1274px)/* Réduction progressive de la taille des bloc activités */
{
    .img_bloc4, .img_bloc4_2_1, .img_bloc4_2_2, .img_bloc4_2_3
    {
        width: 16em;
    }

    .footer1, .footer2, .footer3
    {
        padding: 1em 5em 1em 5em;
    }
}

@media screen and (max-width: 1130px)/* Réduction progressive de la taille des bloc activités */
{
    .img_bloc4, .img_bloc4_2_1, .img_bloc4_2_2, .img_bloc4_2_3
    {
        width: 14em;
    }
}


@media screen and (max-width: 1085px)/* bascule des heb pop en colonne au dessus des heb */
{
    .bloc3_1_2 a
    {
        min-width: 235px;
    }

    .img_heb2
    {
        width: 100%;
        min-width: 240px;
        border-radius: 5px 5px 0px 0px;
    }

    .left_img_pop
    {
        width: 95%;
    }
    
    .bloc3_2
    {
         margin-left: 0px;

    }

    .bloc3_2_2
    {
        display: flex;
    }

    .heb_pop
    {
        flex-direction: column;
    } 

    .bloc3_1
    {
        margin-right: 5px;
        margin-top: 30px;
    }


}


@media screen and (max-width: 986px)/* bascule des activité en mode mobile */
{
    .img_bloc4, .img_bloc4_2_1, .img_bloc4_2_2, .img_bloc4_2_3
    {
        width: 100%;
        height: 20em;
    }

    .bloc4_1_col2
    {
        margin: 0px;
    }

    .bloc4_1_col1, .bloc4_1_col2_1, .bloc4_1_col2_2
    {
        margin: 10px 15px 5px 15px;
    }

    footer
    {
        flex-direction: column;
    }

    .bloc3_2_2
    {
        flex-direction: column;
    }
    
    .heb_pop
    {
        flex-direction: row;
    } 

    .img_heb2
    {
        border-radius: 5px 0px 0px 5px;
    }
}

@media screen and (max-width: 768px)/* bascule en mode full mobile */
{
    .bloc3_1, .bloc3_2, body
    {
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 0px;
    }

    .bloc3
    {
        flex-direction: column-reverse;
    }

    .body_without_footer
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .bloc1, .bloc2, .pluscinqcent
    {
        padding-left: 1em;
        padding-right: 1em;
    }

    .bloc3_1_2
    {
        flex-direction: column;
    }

    .bloc3_1
    {
        background-color: #FFFFFF;
    }

    .img_heb
    {
        height: 20em;
    }

    .bloc3_2_2
    {
        flex-direction: column;
    }

    .header_logo
    {
        margin-left: 1em;
    }

    nav
    {
        order: 2;
        flex-basis: 100%;
        justify-content: space-around;
    }

    .nav1, .nav2
    {
        width: 50%;
        text-align: center;
        padding: 0px 0px 10px 0px;
    }

    .nav1
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    .nav2
    {
        border-bottom: 2px solid #f2f2f2;
    }


    .signin
    {
        order: 1;
        text-align: right;
        margin-right: 20px;
    }

    .menu
    {
        margin-top: 30px;
    }

    button
    {
        border-radius: 10px;
        padding: 10px 10px 11px 10px;
    }

    .button_desktop
    {
        display: none;
    }

    .button_mobile
    {
        display: flex;
    }

    .button_mobile i
    {
        background-color: #0065FC;
        color: #FFFFFF;
    }

    button:hover i
    {
        background-color: #1c77ff;
    }
}